<div id="UserCollectionInfo">

    <div class="stat d-flex flex-column align-items-center justify-content-center">

        <div *ngIf="userProfile" id="avatar" class="mb-5 mt-3" [ngStyle]="{ 'background-image': 'url(' + avatarURL + userProfile.avatar + ')'}"></div>

        <h4 class="text-center mb-5">{{totalGames}} Games</h4>

        <h5 class="text-center mb-4">Estimated collection value</h5>

        <div class="d-flex justify-content-between align-items-center mb-5 w-100">
            <span>{{minCollectionPrice | currency}}</span>
            <span class="separator"></span>
            <span>{{(minCollectionPrice + maxCollectionPrice)/2 | currency}}</span>
            <span class="separator"></span>
            <span>{{maxCollectionPrice | currency}}</span>
        </div>

        <div *ngIf="lastGame && lastGame.cover" class="d-flex flex-column align-items-center justify-content-center text-center">
            <h4 class="text-center mb-4">Last game added</h4>
            <app-cover [img]="lastGame.cover? lastGame.cover : ''" [routerLink]="[ '/game/', lastGame.id + '-' + lastGame.slug ]"></app-cover>
            <h6 class="mt-4">{{lastGame.name}}</h6>
        </div>
    </div>

</div>