<div class="d-flex flex-column">
    <h2 *ngIf="!gameCollection && !gameWishlist && !platformCollection && !platformWishlist">Nothing to show</h2>

    {{gameCollection}}
    <div *ngIf="gameCollection && gameCollection.length">
        <h3 class="d-flex justify-content-between align-items-center">My Game Collection <a *ngIf="gameCollection.length > 9" [routerLink]="'user-game-list'" class="btn">See all</a></h3>
        <div class="game-list d-flex flex-column" *ngFor="let game of gameCollection">
            <div class="d-flex flex-column game" *ngIf="game.game && game.platform">
                <div class="d-flex">
                    <app-cover [routerLink]="[ '/game/' + game.game.id + '-' + game.game.slug ]" *ngIf="game.game.cover" [img]="game.game.cover" [alphaChannel]="false"></app-cover>
                    <div class="d-flex flex-column align-items-end justify-content-start flex-fill">
                        <div class="game-collection-info w-100">
                            <h4>
                                <div class="d-flex flex-column align-items-end ms-sm-3 ms-md-0 ms-lg-3 mt-0 float-end">
                                    <h4 class="ms-3" *ngIf="game.for_sale">{{game.price | currency}}</h4>
                                </div>
                                {{game.game.name}}

                                <span class="d-block ms-0 mt-2 mb-3" *ngIf="game.platform.abbreviation; else platformName">
                                    {{game.platform.abbreviation}}
                                </span>

                                <ng-template #platformName>
                                    <span class="d-block ms-0 mt-2 mb-3">
                                        {{game.platform.name}}
                                    </span>
                                </ng-template>

                            </h4>
                        </div>
                        <p *ngIf="game.for_sale" class="d-flex flex-column w-100 text-start">
                            <span>Condition: <b>{{game.status | titlecase }}</b></span>
                            <span *ngIf="game.comments">Comments: {{game.comments}}</span>
                        </p>
                    </div>
                </div>
                <div *ngIf="!userProfile && user" class="d-flex justify-content-end gap-2 mt-4">
                    <div *ngIf="!game.for_sale && user.address" class="btn me-1" (click)="openSellGameModal(game)">Sell game</div>
                    <div *ngIf="game.for_sale" class="btn success me-1" (click)="openSoldOutGameModal(game, $event)">Sold out</div>
                    <div *ngIf="game.for_sale" class="btn danger me-1" (click)="openCancelSaleGameModal(game, $event)">Cancel sale</div>
                    <div *ngIf="!game.for_sale" class="btn erasable danger me-1" (click)="removeElement(confirm, game, 'UserGame')">Remove</div>
                    <div *ngIf="!user.address" class="btn me-1" (click)="openAddressModal()">Sell game</div>
                </div>
                <div *ngIf="userProfile && game.for_sale && user" class="d-flex justify-content-end gap-2 mt-4">
                    <div *ngIf="user.address" class="btn me-1" (click)="openContactModal(game)">Contact to buy</div>
                    <div *ngIf="!user.address" class="btn me-1" (click)="openAddressModal()">Contact to buy</div>
                </div>
                <div *ngIf="userProfile && game.for_sale && !user" class="d-flex justify-content-end gap-2 mt-4">
                    <div class="btn me-1" (click)="openLoginModal()">Contact to buy</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="gameWishlist && gameWishlist.length">
        <h3 *ngIf="gameWishlist && gameWishlist.length > 0" class="d-flex justify-content-between align-items-center">My Game Wishlist <a *ngIf="gameWishlist.length > 9" [routerLink]="'user-game-wishlist'" class="btn">See all</a></h3>
        <div class="game-wish-list d-flex flex-column" *ngFor="let game of gameWishlist">
            <div class="d-flex flex-column game" *ngIf="game.game && game.platform">
                <div class="d-flex">
                    <app-cover [routerLink]="[ '/game/' + game.game.id + '-' + game.game.slug ]" *ngIf="game.game.cover" [img]="game.game.cover" [alphaChannel]="false"></app-cover>
                    <div class="d-flex flex-column align-items-end justify-content-between flex-fill">
                        <div class="game-collection-info w-100 ">
                            <h4>
                                <span class=" d-block ms-2 ms-sm-3 ms-md-0 ms-lg-3 mt-0 float-end" *ngIf="game.platform.abbreviation; else platformName">{{game.platform.abbreviation}}</span>
                                <ng-template #platformName><span class=" d-block ms-2 ms-sm-3 ms-md-0 ms-lg-3 mt-0 float-end">{{game.platform.name}}</span></ng-template>
                                {{game.game.name}}
                            </h4>
                        </div>
                        <!--div  *ngIf="userType == 'self'" class="d-flex justify-content-end gap-2 mt-4">
                            <div class="btn erasable danger mt-4 mt-sm-0 mt-md-4 mt-lg-0 me-1" (click)="removeElement(confirm, game, 'UserWishgame')">Remove</div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div *ngIf="platformCollection && platformCollection.length">
        <h3 class="d-flex justify-content-between align-items-center">My Platform Collection <a *ngIf="platformCollection.length > 9" [routerLink]="'user-platform-list'" class="btn">See all</a></h3>
        <div class="platform-list">
            <div *ngFor="let platform of platformCollection">
                <div class="d-flex flex-column justify-content-between align-items-center platform h-100" *ngIf="platform && platform.platform">
                    <app-logo class="d-flex" [routerLink]="[ '/platform/' + platform.platform.id + '-' + platform.platform.slug ]" *ngIf="platform.platform.platform_logo" [img]="platform.platform.platform_logo" [alphaChannel]="false"></app-logo>
                    <div class="text-center mb-3">
                        <h6>{{platform.platform.name}}</h6>
                        <div *ngIf="platform.for_sale" class="d-flex flex-column">
                            <span>Price: {{platform.price | currency}}</span>
                            <span>Condition: {{platform.status | titlecase }}</span>
                            <span>Comments <br/> {{platform.comments}}</span>
                        </div>
                    </div>
                    <div *ngIf="userType == 'self'" class="d-flex mt-auto flex-column gap-2">
                        <div *ngIf="!platform.for_sale && user.address" class="btn me-1" (click)="openSellPlatformModal(platform)">Sell it</div>
                        <div *ngIf="platform.for_sale" class="btn success w-100 me-1" (click)="openSoldOutPlatformModal(platform, $event)">Sold out</div>
                        <div *ngIf="platform.for_sale" class="btn danger w-100 me-1" (click)="openCancelSalePlatformModal(platform, $event)">Cancel sale</div>
                        <div *ngIf="!platform.for_sale" class="btn erasable danger mt-4 mt-sm-0 mt-md-4 mt-lg-0 me-1" (click)="removeElement(confirm, platform, 'UserPlatform')">Remove</div>
                        <div *ngIf="!user.address" class="btn me-1" (click)="openAddressModal()">Sell it</div>
                    </div>
                    <div *ngIf="userType == 'user'" class="d-flex gap-2 align-items-center w-100 justify-content-center justify-content-sm-end">
                        <div *ngIf="platform.for_sale && user?.address" class="btn mt-4 mt-sm-0 mt-md-4 mt-lg-0 me-1" (click)="openContactModal()">Contact to buy</div>
                        <div *ngIf="platform.for_sale && !user?.address" class="btn mt-4 mt-sm-0 mt-md-4 mt-lg-0 me-1" (click)="openLoginModal()">Contact to buy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="platformWishlist && platformWishlist.length">
        <h3 class="d-flex justify-content-between align-items-center">My Platform Wishlist <a class="btn"  *ngIf="platformWishlist.length > 9" [routerLink]="'user-platform-wishlist'">See all</a></h3>
        <div class="platform-wish-list gap-3">
            <div *ngFor="let platform of platformWishlist">
                <div class="platform flex-column just-content-center align-items-center" *ngIf="platform && platform.platform">
                    <app-logo [routerLink]="[ '/platform/' + platform.platform.id + '-' + platform.platform.slug ]" *ngIf="platform.platform.platform_logo" [img]="platform.platform.platform_logo" [alphaChannel]="false"></app-logo>
                    <div class="text-center">
                        <h6>{{platform.platform.name}}</h6>
                    </div>
                </div>
                <div *ngIf="userType == 'self'" class="d-flex mt-auto flex-column gap-2">
                    <div class="btn erasable danger mt-4 mt-sm-0 mt-md-4 mt-lg-0 me-1" (click)="removeElement(confirm, platform, 'UserWishplatform')">Remove</div>
                </di>
            </div>
        </div>
    </div-->
</div>

<div>
    <app-sell-game-popup *ngIf="user?.address"></app-sell-game-popup>
    <app-sell-platform-popup *ngIf="user?.address"></app-sell-platform-popup>
</div>
<div>
    <app-address-popup *ngIf="!user?.address"></app-address-popup>
</div>
<ng-template #confirm let-c="close" let-confirm let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title" id="sing-up-popup-label">Confirm remove</h3>
        <div class="close" data-bs-dismiss="modal" (click)="confirm.dismiss('Cross click')" aria-label="Close">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="modal-body mb-5">
        <h6><p class="justify-text">{{message}}</p></h6>
    </div>
    <div class="modal-footer gap-2">
        <div class="btn" (click)="confirm.dismiss('Cancel')">Cancel</div>
        <div class="btn danger" (click)="confirmRemove()" (click)="confirm.dismiss()">Confirm</div>
    </div>
</ng-template>