<div class="row" *ngIf="user">
    <div id="user" class="main-section-page d-flex flex-column flex-md-row">
        <div id="title" class="d-flex flex-column">
            <h1>{{user.name}}<br/>{{user.surname}}</h1>
            <h2>{{user.username}}</h2>
            <div id="profile-info" class="d-flex flex-column align-items-start justify-content-start">
            <ul id="user-menu" class="sub-menu d-flex flex-column">
                <li class="sub-menu-option">
                    <a [routerLink]="[ '/profile/collection' ]"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">Collection & Wishlist</a>
                </li>
                <li *ngIf="user.address" class="sub-menu-option">
                    <a [routerLink]="[ 'address-edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Edit your address</a>
                </li>
                <li *ngIf="!user.address" class="sub-menu-option">
                    <a [routerLink]="[ 'address-add' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Add your address</a>
                </li>
                <li class="sub-menu-option">
                    <a [routerLink]="[ 'edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Edit data</a>
                </li>
                <li class="sub-menu-option">
                    <a [routerLink]="[ 'password-edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Change Password</a>
                </li>
            </ul>
            </div>
        </div>
        <div id="user-info" class="d-flex flex-column justify-content-start">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>