<div class="row">
    <div id="user" class="main-section-page d-flex flex-column flex-md-row">
        <div id="title" class="d-flex flex-column">
            <h1 *ngIf="user">{{user.name}}<br/>{{user.surname}}</h1>
            <h2 *ngIf="user">{{user.username}}</h2>
        </div>
        <div id="user-info" class="d-flex flex-column justify-content-start">
            <ul id="user-menu" class="sub-menu d-flex align-items-center justify-content-between justify-content-lg-center">
                <li class="sub-menu-option"><a [routerLink]="[ '/profile' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">My info</a></li>
                <li class="sub-menu-option"><a [routerLink]="[ 'edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Edit data</a></li>
                <li class="sub-menu-option"><a [routerLink]="[ 'password-edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Change Password</a></li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>