<div *ngIf="user" id="user-in-form" class="d-flex flex-column justify-content-start order-1 order-md-0 mt-5 mb-5">
    <h2 class="text-center mb-4">Edit your password</h2>
    <form [formGroup]="editPasswordForm" class="d-flex flex-column just-content-center">
        <input formControlName="password" type="password" name="password" placeholder="Current password">
        <input formControlName="newpassword" class="mt-4" type="password" name="newpassword" placeholder="New password">
        <input formControlName="repeatnewpassword" type="password" name="repeatnewpassword" placeholder="Repeat new password">
        <button type="submit" class="mt-4" [disabled]="!editPasswordForm.valid" (click)="uploadPassword()">Edit</button>
    </form>
</div>