@import '../../../vars';

.cover{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    min-width: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    position: relative;
    background-color: $black;
    span{
        display: flex;
        position: relative;
        flex: 1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid $black;
        height: 100%;
        width: 100%;
        top: -8px;
        right: -8px;
        background-color: $red;
    }
    &::before{
        content: "";
        position: absolute;
        display: block;
        height: 8px;
        width: 8px;
        border: 8px solid transparent;
        border-right: 8px solid $black;
        left: -8px;
        top: -8px;
    }
    &::after{
        content: "";
        position: absolute;
        display: block;
        height: 8px;
        width: 8px;
        border: 8px solid transparent;
        border-top: 8px solid $black;
        right: -8px;
        bottom: -8px;
    }
    &:active{
        span{
            top: 0;
            right: 0;
        }
        &::before{
            height: 0;
            width: 0;
            border: 0 solid transparent;
            border-right: 0 solid $black;
            top: 0;
            left: 0;
        }
        &::after{
            height: 0;
            width: 0;
            border: 0 solid transparent;
            border-top: 0 solid $black;
            right: 0;
            bottom: 0;
        }
    }
    &:hover{
        border-color: $violet;
        &::after{
            border: 12px solid transparent;
            border-top: 12px solid $black;
            right: -12px;
            bottom: -12px;
        }
        &::before{
            border: 12px solid transparent;
            left: -12px;
            top: -12px;
            border-right: 12px solid $black;
        }
        span{
            top: -12px;
            right: -12px;
        }

        &:active{
            span{
                top: 0;
                right: 0;
            }
            &::before{
                height: 0;
                width: 0;
                border: 0 solid transparent;
                border-right: 0 solid $black;
                top: 0;
                left: 0;
            }
            &::after{
                height: 0;
                width: 0;
                border: 0 solid transparent;
                border-top: 0 solid $black;
                right: 0;
                bottom: 0;
            }
        }
    }
}