@import '../../../../vars';
#sign-in{
    min-height: calc(100vh - 49px);
    gap: 1px;
    background-color: $black;
    padding: 0;
    border: 1px solid $black;
    #sign-in-form{
        flex: 1;
        background-color: $beige;
        padding: 20px;
    }
    #title{
        flex: 1;
        background-color: $violet;
        padding: 20px;
    }
}