@import '../../../../vars';
#log-in{
    #log-in-form{
        flex: 1;
        background-color: $beige;
        padding: 20px;
        app-logo{
            width: 108px;
            border-radius: 45px;
        }
    }
    #title{
        flex: 0;
        background-color: $red;
        padding: 20px;

        @media (min-width: 768px) {
            flex: 1;
        }
    }
}