<div class="row">
    <div id="log-in" class="d-flex flex-column flex-md-row">
        <div id="title" class="d-flex">
            <h1>Log<br/>In</h1>
        </div>
        <div id="log-in-form" class="d-flex flex-column justify-content-start">
            <form [formGroup]="logInForm" class="d-flex flex-column just-content-center">

                <input formControlName="email" type="email" name="email" placeholder="email">

                <input [class.error]="!logInForm.controls['password'].errors && !logInForm.controls['password'].touched" formControlName="password" type="password" name="password" placeholder="Password">

                <span *ngIf="errorMessage != ''" class="form-error">{{ errorMessage }}</span>

                <button type="submit" [disabled]="!logInForm.valid" (click)="login()">Log In</button>

            </form>
        </div>
    </div>
</div>