@import '../../../../vars.scss';
a{
    display: flex;
    width: auto;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    &::before{
        display: none !important;
    }
    &:hover{
        background-color: $yellow;
        color: $black;

        @media (min-width: 768px) {

            background-color: $beige;
        }
    }
}