@import '../../../../vars.scss';
a{
    display: inline-block;
    width: auto;
    position: relative;
    padding: 14px 20px;
    border-radius: 30px;
    &::before{
        display: none !important;
    }
    &:hover{
        background-color: $yellow;
        color: $black;

        @media (min-width: 768px) {

            background-color: $beige;
        }
    }
}
.btn{
    min-width: max-content;
    &:hover{
        &::before{
            background-color: $green;
        }
    }
}