<div *ngIf="auth.ok && game.game.platforms" class="mt-4">

    <h3>I have {{game.game.name}} on this platform<ng-container *ngIf="game.game.platforms.length > 1">s</ng-container>:</h3>
    
    <div *ngIf="userCollectionGame" class="platforms d-flex justify-content-md-start flex-wrap gap-3">
        <div (click)="toggleToUserCollection(platform.id, $event)" [ngClass]="{'checked erasable': userCollectionGame[platform.id]}" (mouseout)="addDeleteClass($event)" *ngFor="let platform of game.game.platforms" class="platform btn check-btn">
            {{platform.name}}
        </div>      
    </div>
    
</div>