@import '../../../../vars';

#main{
    #title{
      
        background-color: $orange;
        padding: 20px;
        @media (min-width: 768px){
            flex: 1;
        }
        img{
            max-width: 75vw;
            @media (min-width: 768px){
                max-width: 528px;
            }
        }
        #mainIllustration{
            align-self: center;
            background-image: url("../../../../assets/images/illustrations/homeMain.svg");
            background-position: center center;
            background-repeat: no-repeat;
            max-width: 700px;
            flex: 1;
            gap: 11vw;
            min-height: 58vw;
            margin-top: 50px;
            margin-bottom: 4vw;
            width: 90vw;
            @media (min-width: 768px){
                width: 44vw;
                gap: 1vw;
                min-height: auto;
                max-height: 700px;
            }
            @media (min-width: 1400px){
                gap: 0;
                max-width: none;
                max-height: none;
                height: 600px;
                width: 616px;
                margin-top: 60px;
                margin-bottom: 50px;
            }
            h2{
                font-family: 'Rozha One', serif;
                font-size: 5.8vw;
                line-height: 5vw;
                margin-bottom: 0;
                margin-right: 2.6vw;
                @media (min-width: 768px){
                    font-size: 2.8vw;
                    line-height: 2.5vw;
                    margin-right: 1vw;
                }
                @media (min-width: 1400px){
                    width: 616px;
                    gap: 30px;
                    font-size: 40px;
                    line-height: 32px;
                }
            }
            h2:last-child{
                margin-top: 8vw;
                font-size: 6.5vw;
                line-height: 5vw;
                margin-left: 3vw;
                @media (min-width: 768px){
                    font-size: 3vw;
                    line-height: 2vw;
                    margin-left: 1vw;
                }
                @media (min-width: 1400px){
                    width: 616px;
                    gap: 30px;
                    font-size: 45px;
                    line-height: 32px;
                }
            }
            
        }
    }
    #main-gallery{
        flex: 1;
        background-color: $beige;
        padding: 20px;
        h2{
            padding-bottom: 20px;
        }
        h2.current-element-gallery{         
            font-family: 'Rozha One', serif;
            margin: 30px 10vw;
            padding: 0 0 0 5px;
            min-width: 82px;
            -webkit-user-select: none;
            user-select: none;
            font-size: 40px;

            @media (min-width: 768px){
                padding: 0 0 0 10px;
                margin: 30px 0;
                min-width: 100px;
                font-size: 50px;
            }
        }
        app-cover{
            width: calc(100vw - 50px);
            height: calc(128vw - 50px);
            max-width: 500px;
            @media (min-width: 550px){
                height: 666px;
            }
            @media (min-width: 768px){
                width: calc(50vw - 40px);
                height: calc(60vw - 40px);
            }
            @media (min-width: 992px){
                max-width: 600px;
                max-height: 600px;
                width: 30vw;
                height: 40vw;
            }
        }
    }
}