<div class="row">
    <div id="main" class="main-section-page d-flex flex-column flex-md-row">
        <div id="title" class="">
            <img src="../../../../assets/images/logo.svg" alt="My Game Lore">
        </div>
        <div id="main-gallery" class="d-flex flex-column justify-content-start">
            <h2 class="flex-shrink-1">MOST POPULAR GAMES RIGHT NOW</h2>
            <div *ngIf="gallery" class="gallery d-flex flex-column flex-lg-row h-100 justify-content-center justify-content-lg-around align-items-center ">
                <!--{{ currentGame.name | uppercase }}--> 
                <app-cover [routerLink]="[ '/game/' + currentGame.game.id + '-' + currentGame.game.slug ]" *ngIf="currentGame.game.cover" [img]="currentGame.game.cover" [alphaChannel]="false"></app-cover>
                <div class="d-flex flex-row flex-lg-column-reverse justify-content-center align-items-center">
                    <div (click)="prev()" [ngClass]="indexGame == 0? 'disabled':''" class="btn gallery-btn prev-btn"><span></span></div>
                    <h2 class="current-element-gallery">#{{indexGame + 1 | number:'2.0'}}</h2>
                    <div (click)="next()" [ngClass]="indexGame == (gallery.length -1) ? 'disabled':''" class="btn gallery-btn next-btn"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>