<div class="row" *ngIf="game">
    <div id="game" class="main-section-page d-flex flex-column flex-md-row">
        <div id="title" [class]="bgColor" class="d-flex flex-column order-md-1 text-md-end">
            <h1 *ngIf="game">{{game.name}}</h1>
            <h2 *ngIf="game.first_release_date" class="mt-3">{{game.first_release_date | date }}</h2>
            <div class="mt-5 text-justify brake-word">
                <img *ngIf="game.cover" [src]="'https://images.igdb.com/igdb/image/upload/t_cover_big_2x/' + game.cover + '.jpg'" class="float-start float-md-end" alt="Cover {{game.name}}">
                <p *ngIf="!game.storyline && game.summary">{{game.summary}}</p>
                <p *ngIf="game.storyline">{{game.storyline}}</p>
            </div>
            <div *ngIf="game.platforms" class="mt-4">
                <h3>Platform<ng-container *ngIf="game.platforms.length > 1">s</ng-container>:</h3>
                
                <div class="platforms d-flex justify-content-md-end">
                    <a [routerLink]="[ '/platform', platform.id + '-' + platform.slug ]" *ngFor="let platform of game.platforms" class="platform">
                        {{platform.name}}
                    </a>      
                </div>
                
            </div>
            <div *ngIf="game.genres" class="mt-4">
                <h3>Genre<ng-container *ngIf="game.genres.length > 1">s</ng-container>:</h3>
                
                <div class="genres d-flex justify-content-md-end">
                    <a [routerLink]="[ '/genre', genre.slug ]" *ngFor="let genre of game.genres" class="genre">
                        {{genre.name}}
                    </a>      
                </div>
                
            </div>
        </div>
        <div id="game-info" class="d-flex flex-column justify-content-start order-md-0">
            <ul *ngIf="auth.ok" id="game-menu" class="sub-menu d-flex justify-content-around justify-content-lg-center">
                <li class="sub-menu-option"><a [routerLink]="[ 'add-to-collection' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Add to collection</a></li>
                <li class="sub-menu-option"><a [routerLink]="[ 'add-to-wishlist' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">I want it</a></li>
                <li class="sub-menu-option"><a [routerLink]="[ 'edit' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Edit</a></li>
            </ul>
            <ul *ngIf="!auth.ok" id="game-menu" class="sub-menu d-flex justify-content-around justify-content-lg-center">
                <li class="sub-menu-option"><a (click)="openLoginModal()" >Add to collection</a></li>
                <li class="sub-menu-option"><a (click)="openLoginModal()" >I want it</a></li>
                <li class="sub-menu-option"><a (click)="openLoginModal()" >Edit</a></li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>