@import "../node_modules/bootstrap-scss/bootstrap.scss";
@import 'https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Silkscreen:wght@400;700&family=Rozha+One&display=swap';
@import 'vars';

h1{
    font-family: 'Rozha One';
    font-size: 120px;

}
body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    left:0;
    background-color: $beige;
    a{
        &:hover{
            color: $orange
        }
    }
    &.menu-opened{
        position: relative;
        left: 260px;
    }
    
    @media (min-width: 768px) {
        background-position: left top, right top;
        background-repeat: no-repeat, no-repeat;
        background-attachment: fixed;   
        left: 0!important;
    }
}
*{
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    &:not(.no-animated):not(.slick-track):not(.slick-slide){
        -moz-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;
        &::after,
        &::before{
            -moz-transition: all .15s ease-out;
            -webkit-transition: all .15s ease-out;
            -ms-transition: all .15s ease-out;
            -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
        }
    }
}