<footer>
    <div class="row">
        <div class="col-7  col-sm-12 col-md-3">
            <img id="footer-logo" src="../../../assets/images/logo-beige.svg" alt="My Game Lore">
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <h3>Your</h3>
            <ul>
                <li>
                    <a [routerLink]="[ '/profile' ]">Profile</a>
                </li>
                <li>
                    <a href="#">Games</a>
                </li>
                <li>
                    <a href="#">Wishlist</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <h3>Community</h3>
            <ul>
                <li>
                    <a href="#">How contribute</a>
                </li>
                <li>
                    <a href="#">Phisical shops</a>
                </li>
                <li>
                    <a href="#">Other collectors</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <h3>Social network</h3>
            <ul>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
            </ul>
        </div>
        <div id="legal-text" class="col-12 small text-center mt-5">
            © My Game Lore 2023    |    Coockies Policy    |    Privacy Policy    |    Legal Terms
        </div>
    </div>
</footer>
